<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
		<!-- DB Settings -->
		<property name="connection.datasource">java:/comp/env/jdbc/midas</property>
		<property name="dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        <property name="connection.autocommit">true</property>
        <property name="connection.pool_size">20</property>
        <property name="statement_cache.size">6</property>
        <!-- JDBC connection pool (use the built-in) -->
        <property name="connection.pool_size">1</property>
        <!-- Enable Hibernate's automatic session context management -->
        <property name="current_session_context_class">thread</property>
        <property name="cache.provider_class">org.hibernate.cache.NoCacheProvider</property>
        <property name="show_sql">true</property>
        <property name="hbm2ddl.auto">update</property>

		<property name="search.default.directory_provider">org.hibernate.search.store.FSDirectoryProvider</property>
		<property name="search.default.indexBase">/robo/lucene_index</property>

        <mapping resource="com/robonobo/midas/model/MidasPlaylist.hbm.xml"/>
        <mapping resource="com/robonobo/midas/model/MidasStream.hbm.xml"/>
        <mapping resource="com/robonobo/midas/model/MidasStreamAttribute.hbm.xml"/>
        <mapping resource="com/robonobo/midas/model/MidasUser.hbm.xml"/>
        <mapping resource="com/robonobo/midas/model/MidasInvite.hbm.xml"/>	
        <mapping resource="com/robonobo/midas/model/MidasFriendRequest.hbm.xml"/>	
        <mapping resource="com/robonobo/midas/model/MidasLibrary.hbm.xml"/>	

		<!-- Listeners to allow hibernate search to do its thing -->
		<event type="post-update">
            <listener class="org.hibernate.search.event.FullTextIndexEventListener"/>
        </event>
        <event type="post-insert">
            <listener class="org.hibernate.search.event.FullTextIndexEventListener"/>
        </event>
        <event type="post-delete">
            <listener class="org.hibernate.search.event.FullTextIndexEventListener"/>
        </event>		
    </session-factory>
</hibernate-configuration>
