<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>wang-server</display-name>

	<!-- Most config is done in spring-config.xml -->

	<filter>
		<filter-name>persistence</filter-name>
		<filter-class>com.robonobo.wang.server.PersistenceFilter</filter-class>
	</filter>
	
	<filter-mapping>
		<filter-name>persistence</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<servlet>
		<servlet-name>spring</servlet-name>
		<servlet-class>com.robonobo.wang.server.SpringServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	
	<servlet>
		<servlet-name>wang-remoting</servlet-name>
		<servlet-class>com.robonobo.wang.server.RemotingServlet</servlet-class>
		<load-on-startup>2</load-on-startup>
	</servlet>
	
		
	<servlet>
		<servlet-name>denom-servlet</servlet-name>
		<servlet-class>com.robonobo.wang.server.DenominationServlet</servlet-class>
		<load-on-startup>2</load-on-startup>
	</servlet>

	<servlet>
		<servlet-name>get-balance-servlet</servlet-name>
		<servlet-class>com.robonobo.wang.server.GetBalanceServlet</servlet-class>
		<load-on-startup>2</load-on-startup>
	</servlet>
	
	<servlet>
		<servlet-name>get-coins-servlet</servlet-name>
		<servlet-class>com.robonobo.wang.server.GetCoinsServlet</servlet-class>
		<load-on-startup>2</load-on-startup>
	</servlet>
	
	<servlet>
		<servlet-name>deposit-coins-servlet</servlet-name>
		<servlet-class>com.robonobo.wang.server.DepositCoinsServlet</servlet-class>
		<load-on-startup>2</load-on-startup>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>denom-servlet</servlet-name>
		<url-pattern>/getDenominations</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>get-balance-servlet</servlet-name>
		<url-pattern>/getBalance</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>get-coins-servlet</servlet-name>
		<url-pattern>/getCoins</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>deposit-coins-servlet</servlet-name>
		<url-pattern>/depositCoins</url-pattern>
	</servlet-mapping>
</web-app>